.global-text{
    color: #140836;     
}
.hover-button:hover {
    background-color: #e0e0e0;
}
.link-hover:hover {
    color: #140836; 
}
.text-size-200{
    font-size: 150px;
}
  .shape-background {
    text-align: center;
    height: 150px;
    width: 150px;
    position: relative;
    background-color: #3498db; /* Set your desired background color */
    padding: 20px; /* Adjust padding as needed */
    color: #fff; /* Set text color */
    overflow: hidden; /* Hide the overflowing parts of the diamond */
  }
.z-index-0{
    z-index: 0;
}
.relative-div{
    position: relative;
    z-index: 0;
    overflow: visible;
}
.absolute-testimonial-image{
    position: absolute;
    top: -30px;
    left: 300px;
    z-index: 1000;
}
.absolute-icon{
    position: absolute;
    top: -10px;
    left: -10px;
}
.absolute-btn{
    position: absolute;
    top: 35%;
    left: 42%;
}
.active{
    color: black;
    font-size: 20px;
}
.text-gray{
    color: gray;
} 
    
  