.global-text {
  color: #140836;
}
input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
    margin: 0;
}
.text-bold {
  font-weight: 700;
}

.text-semibold {
  font-weight: 600;
}

.hover-button:hover {
  background-color: #e0e0e0;
}
.link-hover:hover {
  color: #140836;
}
.text-size-200 {
  font-size: 150px;
}

.text-size-50 {
  font-size: 50px;
}

.nav-title {
  font-size: 30px;
}
.pointer-cursor {
  cursor: pointer;
}
.shape-background {
  text-align: center;
  height: 200px;
  width: 150px;
  position: relative;
  background-color: #3498db; /* Set your desired background color */
  padding: 20px; /* Adjust padding as needed */
  color: #fff; /* Set text color */
  overflow: hidden; /* Hide the overflowing parts of the diamond */
}
.z-index-0 {
  z-index: 0;
}
.relative-div {
  position: relative;
  z-index: 0;
  overflow: visible;
}
.absolute-testimonial-image {
  position: absolute;
  top: -30px;
  left: 300px;
  z-index: 1000;
}
.absolute-icon {
  position: absolute;
  top: -10px;
  left: -10px;
}
.absolute-btn {
  position: absolute;
  top: 35%;
  left: 42%;
}

.image-container {
  width: 80%; /* or any percentage */
  max-width: 200px;
  margin: auto; /* For center alignment */
}

.active {
  color: black;
  font-size: 20px;
}
.text-gray {
  color: gray;
}

.text-title {
  font-weight: 700;
  font-size: 50px;
}

.leftline-Bold {
  width: 4px;
  height: 20px;
  background: #140836;
  border-radius: 9px;
}

.underline-Bold {
  width: 80px;
  height: 2px;
  background: #140836;
  border-radius: 9px;
}

.underline {
  width: 300px;
  height: 2px;
  background: #140836;
  border-radius: 9px;
}

.underline-sm {
  width: 80px;
  height: 2px;
  background: #140836;
  border-radius: 9px;
}

.rotate-90 {
  transform: rotate(90deg);
}

.gradient-background {
  background: linear-gradient(
    to right,
    #140836,
    #007bff
  ); /* Replace #007bff with your Bootstrap primary color */
  width: 90%;
  height: 40%; /* Set the height as needed */
}

/* -------------------------- Animation classes ----------------------------- */

.slide-top {
  -webkit-animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-left {
  -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.invalid {
  border: 3px solid red;
  -webkit-animation: shake-horizontal 0.7s
    cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: shake-horizontal 0.7s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

.invalid-imm {
  border: 3px solid red;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-control-invalid {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 3px solid red;
  border-radius: 0.5rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control-invalid:focus {
  color: #495057;
  background-color: #fff;
  border-color: red;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
}

/*------------------------ Animation keyframes --------------------------------*/

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(200px);
    transform: translateY(200px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(200px);
    transform: translateY(200px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  80% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  90% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
}

@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  80% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}
