.global-text{
    color: #140836;     
}

.text-bold{
  font-weight: 700;
}

.text-semibold{
  font-weight: 600;
}

.hover-button:hover {
    background-color: #e0e0e0;
}

.link-hover:hover {
    color: #140836; 
}

.text-size-200{
    font-size: 150px;
}

.text-size-50{
  font-size: 50px;
}

.nav-title{
  font-size: 30px;
}

.pointer-cursor {
  cursor: pointer;
}

.text-title{
  font-weight: 700;
  font-size: 50px;
}

.invalid{
  border: 3px solid red;
  -webkit-animation: shake-horizontal 0.7s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: shake-horizontal 0.7s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}



/* ----------------------------------------------------------------------- */

@-webkit-keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  80% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  90% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
}

@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  80% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}
